@tailwind base;
@tailwind components;
@tailwind utilities;

/* THEME: Deep Ocean & Sunset */
body {
    /* Rich Blue Background */
    @apply bg-slate-900 text-white font-sans antialiased;
}

/* Scrollbar customization */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-500;
}